.section {
    float: left;
    width: calc(33.3% - 15px);
    position: relative;
    background-color: lightgray;
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    border: 2px black solid;
}

.title {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    margin: 0;
    padding: 2px;
    border: 1px solid black;
}

.body {
    display: block;
    margin-top: 30px;
}

.section:nth-child(1) .title {
    background-color: pink;
}

.section:nth-child(2) .title {
    background-color: lightcoral;
}

.section:nth-child(3) .title {
    background-color: yellow;
}

@media screen and (width < 768px)  {
    .section {
        width: 100%;
    }
}

@media screen and (768px <= width <= 991px)  {
    .section:nth-child(1), .section:nth-child(2) {
        width: calc(50% - 15px);
    }
    .section:nth-child(3) {
        width: 100%;
    }
}
